.gitignore
# 一旦すべてを除外する
*

# 必要なファイルだけを管理対象とする
## このファイル自体
!.gitignore

## PHP設定ファイル
!php/
!php/php.ini

## 処理部分
!htdocs/
!htdocs/php/
!htdocs/php/accessanalyzer


## Apache設定ファイル
!apache/
!apache/conf/
!apache/conf/httpd.conf
!apache/conf/extra/
!apache/conf/extra/httpd-ssl.conf
!apache/conf/extra/httpd-vhosts.conf

## サーバ証明書
!apache/conf/ssl.crt/
!apache/conf/ssl.crt/server.crt
!apache/conf/ssl.key/
!apache/conf/ssl.key/server.key